# ==========================================================================
# Base settings
# ==========================================================================
# DJANGO_SECRET_KEY=SuperSecretPassword
# DJANGO_DEBUG=false
# ALLOWED_HOSTS=127.0.0.1,localhost
# DATABASE_URL=sqlite:///db.sqlite3
# DATABASE_OPTIONS=
# CACHE_URL=locmemcache://


# ==========================================================================
# Email
# ==========================================================================
# EMAIL_URL=consolemail://
# DJANGO_ADMINS=
# DJANGO_MANAGERS=
# DJANGO_FROM_EMAIL=webmaster@localhost
# DJANGO_SERVER_EMAIL=root@localhost


# ==========================================================================
# Language & timezone
# ==========================================================================
# LANGUAGE_CODE=en-us
# TIME_ZONE=UTC
# PHONENUMBER_DEFAULT_REGION=EN


# ==========================================================================
# Logging
# ==========================================================================
# DJANGO_LOG_LEVEL=INFO
# SENTRY_DSN=
# SENTRY_ENVIRONMENT=production
# SENTRY_RELEASE=
# SENTRY_TRACES_SAMPLE_RATE=1.0
# SENTRY_SEND_DEFAULT_PII=true


# ==========================================================================
# Security Settings
# ==========================================================================
# CSRF_COOKIE_SECURE=true
# INTERNAL_IPS=127.0.0.1
# SECURE_HSTS_INCLUDE_SUBDOMAINS=true
# SECURE_HSTS_PRELOAD=true
# SECURE_HSTS_SECONDS=864000
# SECURE_PROXY_SSL_HEADER=(HTTP_X_FORWARDED_PROTO,https)
# SECURE_SSL_REDIRECT=true
# SESSION_COOKIE_SECURE=true


# ==========================================================================
# Static files and User uploads
# ==========================================================================
# DJANGO_STATIC_HOST=
# DJANGO_STATIC_ROOT=/www/static
# DJANGO_MEDIA_ROOT=/www/media
