# Base settings
DJANGO_SECRET_KEY=SuperSecretPassword
DJANGO_DEBUG=false
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
CACHE_URL=locmemcache://

# Language & timezone
LANGUAGE_CODE=en-us
TIME_ZONE=UTC
PHONENUMBER_DEFAULT_REGION=EN

# Static files and User uploads
STATIC_ROOT=/www/static
MEDIA_ROOT=/www/media
WHITENOISE_ROOT=/www/static_unversioned

# Email
EMAIL_URL=consolemail://
DJANGO_ADMINS=
DJANGO_MANAGERS=
DJANGO_FROM_EMAIL=webmaster@localhost
DJANGO_SERVER_EMAIL=root@localhost

# Security Settings
CSRF_COOKIE_SECURE=true
INTERNAL_IPS=127.0.0.1
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=true
SECURE_HSTS_SECONDS=864000
SECURE_PROXY_SSL_HEADER=(HTTP_X_FORWARDED_PROTO,https)
SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
