{% extends 'base.html' %}

{% load i18n widget_tweaks %}

{% block title %}{% if event.pk %}{{ event.title }}{% else %}{% translate 'New Event' %}{% endif %} |
  {{ block.super }}{% endblock title %}

{% block content %}
  <main class="container">
    <h1>{% translate 'Calendar' %}</h1>
    <h2>{% if event.pk %}{{ event.title }}{% else %}{% translate 'New Event' %}{% endif %}</h2>
    {% with WIDGET_ERROR_CLASS="is-invalid" %}
      <form action="" method="post">
        {% include 'partials/forms/non_field_errors.html' %}
        {% for field in form %}
          <div class="mb-4">
            {{ field.label_tag }}
            {% render_field field class="form-control rounded-end" autocapitalize="off" spellcheck="false" %}
            {% if field.help_text %}
              <div class="form-text">{{ field.help_text|safe }}</div>
            {% endif %}
            {% include 'partials/forms/field_errors.html' with field=field %}
          </div>
        {% endfor %}
        {% csrf_token %}
        <a class="btn btn-outline-primary" href="{% url 'calendars:list' %}">{% translate 'Cancel' %}</a>
        <button class="btn btn-primary" type="submit">{% translate 'Add Event' %}</button>
      </form>
    {% endwith %}
  </main>
{% endblock content %}
