:root {
  /* Bootstrap Overrides */
  --bs-primary: var(--scouting-blue);
  --bs-primary-rgb: var(--scouting-blue-rgb);
  --bs-secondary: var(--scouting-warm-gray);
  --bs-secondary-rgb: var(--scouting-warm-gray-rgb);
  --bs-success: var(--matrix-green);
  --bs-success-rgb: var(--matrix-green-rgb);
  --bs-info: var(--informative-blue);
  --bs-info-rgb: var(--informative-blue-rgb);
  --bs-danger: var(--alert-red);
  --bs-danger-rgb: var(--alert-red-rgb);
  --bs-warning: var(--matrix-yellow);
  --bs-warning-rgb: var(--matrix-yellow-rgb);
  --bs-light: var(--scouting-light-tan);
  --bs-light-rgb: var(--scouting-light-tan-rgb);
  --bs-dark: var(--scouting-dark-gray);
  --bs-dark-rgb: var(--scouting-dark-gray-rgb);
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--scouting-tan);
}

h1,
h2,
h3,
h4 {
  color: var(--scouting-blue);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
}

h5 {
  color: var(--scouting-blue);
}

h6 {
  color: var(--scouting-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

form.is-submitting button[type=submit] {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

#site-navbar {
  background-color: var(--scouting-olive)
}

#site-navbar .navbar-toggler-offset {
  width: 56px;
}

.message {
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.login-form {
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.login-form .form-floating:focus-within {
  z-index: 2;
}

.login-form input[autocomplete="username"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-form input[autocomplete="current-password"] {
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#navbar-signin {
  color: var(--bs-gray-500);
  min-width: 32ch;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

.logout-form {
  padding: 0;
}

.logout-form button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 1rem 0.25rem;
}

#navbar-logout {
  padding: 0;
}

#navbar-logout button[type=submit] {
  text-align: left;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0.25rem 1rem;
}

.navbar-brand,
.navbar-nav .nav-item {
  margin-right: 1.5rem;
}

.dropdown-menu .dropdown-item .bi {
  margin-right: 0.75rem;
}

.list-icons {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.list-icons > li {
  position: relative;
}

.list-icons-icon {
  left: calc(2em * -1);
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
  color: var(--scouting-blue);
}
