{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% translate 'Page not found (404)' %} | {{ block.super }}{% endblock title %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock css %}

{% block content %}{% static 'img/bootstrap-icons.svg' as icons %}
  <div id="wrapper">
    <main class="container">
      <h1>
        <svg class="bi">
          <use href="{{ icons }}#question-circle-fill"></use>
        </svg>
        {% translate 'Page not found' %}
      </h1>
      <p>
        {% if exception %}
          {{ exception }}
        {% else %}
          {% translate "This is not the page you're looking for" %}
        {% endif %}
      </p>
    </main>
  </div>
{% endblock content %}
