<section class="card mb-5 shadow-sm"{% if content.bookmark %} id="{{ content.bookmark }}{% endif %}">
  {% if content.images.count > 1 %}
    {% include 'website/partials/gallery.html' %}
  {% elif content.images.exists %}
    {% with image=content.images.first %}
      <figure class="figure">
        <img src="{{ image.file.url }}" class="figure-img card-img-top" alt="{{ image.title }}">
        {% if image.description %}
          <figcaption class="figure-caption px-lg-5 px-md-4 px-3">{{ image.description|linebreaks }}</figcaption>
        {% endif %}
      </figure>
    {% endwith %}
  {% endif %}
  <div class="card-body p-md-4 p-lg-5">
    {% if content.heading %}
      <h2 class="card-title mb-5">{{ content.heading }}</h2>
    {% endif %}
    <div class="card-text">{{ content.body|linebreaks|urlize }}</div>
  </div>
</section>
