{% load i18n static %}
<div id="{{ content.bookmark }}-gallery" class="carousel slide {{ content.gallery_controls }}" data-bs-ride="false">
  <nav role="tablist" class="carousel-indicators dot-indicators">
    {% for image in content.images.all %}
      <button type="button"
              role="tab"
              data-bs-target="#{{ content.bookmark }}-gallery"
              data-bs-slide-to="{{ forloop.counter0 }}"
        {% if forloop.first %}
              class="active"
              aria-current="true"
        {% endif %}
              aria-label="{{ image.title }}"
      ></button>
    {% endfor %}
  </nav>
  <div class="carousel-inner rounded-top">
    {% for image in content.images.all %}
      <figure class="figure carousel-item{% if forloop.first %} active{% endif %}">
        <img src="{{ image.file.url }}" class="figure-img d-block w-100" alt="{{ image.title }}">
        {% if image.description %}
          <figcaption class="figure-caption px-lg-5 px-md-4 px-3 mb-4">{{ image.description|linebreaks }}</figcaption>
        {% endif %}
      </figure>
    {% endfor %}
  </div>
  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#{{ content.bookmark }}-gallery"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{% translate 'Previous' %}</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          data-bs-target="#{{ content.bookmark }}-gallery"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{% translate 'Next' %}</span>
  </button>
</div>
