{% load i18n static thumbnail %}{% static 'img/bootstrap-icons.svg' as icons %}
<!-- Begin site navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" id="site-navbar">
  <div class="container">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="{% translate 'Toggle navigation' %}"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {% thumbnail website.logo "x36" format="PNG" as img %}
      <a class="navbar-brand" href="{% url 'home_page' %}">
        <img src="{{ img.url }}"
             srcset="{{ img.url }} 1x, {{ img.url|resolution:'2x' }} 2x"
             alt="{{ website.name }}"
             width="{{ img.width }}"
             height="{{ img.height }}"
        >
      </a>
    {% empty %}
      <a class="navbar-brand" href="{% url 'home_page' %}">{{ website.name }}</a>
    {% endthumbnail %}
    <div class="d-lg-none navbar-toggler-offset"></div>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        {% for page in navbar.links %}
          <li class="nav-item">
            <a href="{{ page.url }}"
              {% if page.is_current %}
               class="nav-link active"
               aria-current="page"
              {% else %}
               class="nav-link"
              {% endif %}
            >
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if request.resolver_match.app_name != "auth" %}
        <ul class="navbar-nav" id="user-menu">
          <li class="nav-item dropdown">
            <a href="#"
               class="nav-link dropdown-toggle{% if request.user.is_authenticated %} active{% endif %}"
               id="user-menu-toggle"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
            >
              {% thumbnail request.user.photo "32x32" crop="center" format="PNG" as img %}
                <img src="{{ img.url }}"
                     srcset="{{ img.url }} 1x, {{ img.url|resolution:'2x' }} 2x"
                     class="rounded-circle"
                     alt="{{ request.user }}"
                     width="{{ img.width }}"
                     height="{{ img.height }}"
                >
              {% empty %}
                <svg class="bi fs-5">
                  <use href="{{ icons }}#person-circle"></use>
                </svg>
              {% endthumbnail %}
              <span class="visually-hidden">{% translate 'User Menu' %}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu-toggle">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{{ request.user.get_absolute_url }}" class="dropdown-item">
                    <svg class="bi">
                      <use href="{{ icons }}#person-fill"></use>
                    </svg>
                    <span>{% translate 'My profile' %}</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'auth:password_change' %}" class="dropdown-item">
                    <svg class="bi">
                      <use href="{{ icons }}#key-fill"></use>
                    </svg>
                    <span>{% translate 'Update password' %}</span>
                  </a>
                </li>
                {% if request.user.is_staff %}
                  <li>
                    <a href="{% url 'admin:index' %}" class="dropdown-item">
                      <svg class="bi">
                        <use href="{{ icons }}#gear-fill"></use>
                      </svg>
                      <span>{% translate 'Administration' %}</span>
                    </a>
                  </li>
                {% endif %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form action="{% url 'auth:logout' %}" method="post" class="dropdown-item" id="navbar-logout">
                    <button type="submit" class="text-danger">
                      <svg class="bi">
                        <use href="{{ icons }}#box-arrow-right"></use>
                      </svg>
                      <span>{% translate 'Logout' %}</span>
                    </button>
                    {% csrf_token %}
                  </form>
                </li>
              {% else %}
                <form action="{% url 'auth:login' %}" method="post" class="login-form" id="navbar-signin">
                  <fieldset>
                    <div class="form-floating">
                      <input type="text"
                             name="username"
                             autocomplete="username"
                             class="form-control"
                             id="id_username"
                             placeholder="{% translate 'name@example.com' %}"
                             autocapitalize="none"
                             maxlength="150"
                             required
                      >
                      <label for="id_username">{% translate 'Username / Email' %}</label>
                    </div>
                    <div class="form-floating">
                      <input type="password"
                             name="password"
                             autocomplete="current-password"
                             required
                             class="form-control"
                             id="id_password"
                             placeholder="{% translate 'password' %}"
                      >
                      <label for="id_password">{% translate 'Password' %}</label>
                    </div>
                  </fieldset>
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-primary w-100">{% translate 'Sign in' %}</button>
                </form>
                <div class="dropdown-divider"></div>
                <a href="{% url 'auth:password_reset' %}" class="dropdown-item px-4">
                  <small>{% translate 'Forgot your password?' %}</small>
                </a>
                <a href="{% url 'members:signup' %}" class="dropdown-item px-4">
                  <small>{% translate 'Need an account? Join us!' %}</small>
                </a>
              {% endif %}
            </ul>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
