{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% translate 'Forbidden (403)' %} | {{ block.super }}{% endblock title %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock css %}

{% block content %}
  <div id="wrapper">
    <main class="container">
      <h1 class="text-danger"><i class="bi bi-dash-circle-fill"></i> {% translate 'Forbidden' %}</h1>
      <p>
        {% if exception %}
          {{ exception }}
        {% else %}
          {% translate "You're not allowed to access this page." %}
        {% endif %}
      </p>
    </main>
  </div>
{% endblock content %}
