{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default_if_none:'en-us'}}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{% block title %}Trooper{% endblock title %}</title>
  {% block css %}
  <!-- Begin CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static '@fontsource/roboto/index.css' %}">
  <link rel="stylesheet" href="{% static '@fontsource/roboto-slab/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock css %}
</head>

{% block body %}
<body>
  {% block navbar %}{% include 'partials/navbar.html' %}{% endblock navbar %}

  {% block messages %}{% include 'partials/messages.html' %}{% endblock messages %}

  {% block content %}{% endblock content %}

  {% block js %}{% include 'partials/js.html' %}{% endblock js %}
</body>
{% endblock body %}
</html>
