{% extends 'base.html' %}

{% load i18n thumbnail %}

{% block title %}{% translate 'Members' %} | {{ block.super }}{% endblock title %}

{% block content %}
  <main class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            {% include 'members/partials/member_list_entry_profile_picture.html' %}
            <div class="d-flex flex-column">
              <h1 class="card-title">{{ member.get_full_name }}</h1>
              <h2 class="card-subtitle fs-5 text-muted">{{ member.username }}</h2>
            </div>
          </div>
          <div class="col-lg">
            {% if member.addresses.published or member.email_addresses.published or member.phone_numbers.published %}
              <address class="card-text">
                {% include 'address_book/partials/addresses_list.html' %}
                {% include 'address_book/partials/email_addresses_list.html' %}
                {% include 'address_book/partials/phone_numbers_list.html' %}
              </address>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
