{% extends 'base.html' %}

{% load i18n thumbnail %}

{% block title %}{% translate 'Members' %} | {{ block.super }}{% endblock title %}

{% block content %}
  <main class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            {% thumbnail member.avatar "880" format="PNG" as img %}
              <img src="{{ img.url }}"
                   class="rounded img-fluid mb-3"
                   srcset="{{ img.url }} 1x, {{ img.url|resolution:'2x' }} 2x"
                   alt="{{ request.user }}"
                   width="{{ img.width }}"
                   height="{{ img.height }}"
              >
            {% empty %}
              <i class="bi-person-circle"></i>
            {% endthumbnail %}
            <div class="d-flex flex-column">
              <h1 class="card-title">{{ member }}</h1>
              <h2 class="card-subtitle fs-5 text-muted">{{ member.username }}</h2>
            </div>
          </div>
          <div class="col-lg">
            {% if member.addresses.published or member.email_addresses.published or member.phone_numbers.published %}
              <address class="card-text">
                <ul class="list-icons">
                  {% include 'members/partials/addresses_list.html' %}
                  {% include 'members/partials/email_addresses_list.html' %}
                  {% include 'members/partials/phone_numbers_list.html' %}
                </ul>
              </address>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
