{% load i18n %}
{% for email in member.published_email_addresses %}
  {% if forloop.first %}
    <li>
      <h2 class="card-title fs-6">
        {% blocktranslate count counter=member.email_addresses|length %}
          Email Address
        {% plural %}
          Email Addresses
        {% endblocktranslate %}
      </h2>
    </li>
  {% endif %}
  <li class="{% if forloop.last %}mb-4{% else %}mb-2{% endif %}">
    <span class="list-icons-icon">
      {% if email.label == email.Label.HOME %}
        <i class="bi bi-house"></i>
      {% elif email.label == email.Label.WORK %}
        <i class="bi bi-briefcase"></i>
      {% else %}
        <i class="bi bi-envelope"></i>
      {% endif %}
    </span>
    <a href="mailto:{{ email.address }}?subject=%5B{{ website.name|urlencode }}%5D%20"
       class="card-link text-decoration-none">
      {{ email }}
    </a>
  </li>
{% endfor %}
