    <div class="card mb-3">
      <div class="card-body">
        <div class="row mb-5 mb-lg-0">
          <div class="col-lg">
            {% include 'members/partials/member_list_entry_profile_picture.html' %}
            <div class="d-flex flex-column">
              <h2 class="card-title">
                {% if request.path == member.get_absolute_url %}
                  {{ member.get_full_name }}
                {% else %}
                  <a class="stretched-link text-decoration-none" href="{{ member.get_absolute_url }}">{{ member.get_full_name }}</a>
                {% endif %}
              </h2>
              <h3 class="card-subtitle fs-5 text-muted">{{ member.username }}</h3>
              {% if tag %}<p class="card-text"><span class="badge rounded-pill text-bg-secondary">{{ tag }}</span></p>{% endif %}
              {% if member.age < 18 %}
                <p class="card-text"><i class="bi bi-gift"></i> {{ member.date_of_birth }}</p>
              {% endif %}
            </div>
          </div>
        {% if not summary %}
          <div class="col-lg-5">
            {% if members_are_related %}
              <address class="card-text">
                {% include 'address_book/partials/address_list.html' with address_list=member.addresses.all %}
                {% include 'address_book/partials/email_address_list.html' with email_addresses=member.email_addresses.all %}
                {% include 'address_book/partials/phone_number_list.html' with phone_numbers=member.phone_numbers.all %}
              </address>
            {% elif member.published_addresses or member.published_email_addresses or member.published_phone_numbers %}
              <address class="card-text">
                {% include 'address_book/partials/address_list.html' with address_list=member.published_addresses %}
                {% include 'address_book/partials/email_address_list.html' with email_addresses=member.published_email_addresses %}
                {% include 'address_book/partials/phone_number_list.html' with phone_numbers=member.published_phone_numbers %}
              </address>
            {% endif %}
          </div>
        {% endif %}
        </div>
      </div>
    </div>
