{% load i18n %}
{% for phone in member.published_phone_numbers %}
  {% if forloop.first %}
    <li>
      <h2 class="card-title fs-6 mt-4">{% translate 'Phone Numbers' %}</h2>
    </li>
  {% endif %}
  <li class="mb-2">
    <span class="list-icons-icon">
      {% if phone.label == phone.Label.HOME %}
        <i class="bi bi-house"></i>
      {% elif phone.label == phone.Label.MOBILE %}
        <i class="bi bi-phone"></i>
      {% elif phone.label == phone.Label.WORK %}
        <i class="bi bi-building"></i>
      {% else %}
        <i class="bi bi-telephone"></i>
      {% endif %}
    </span>
    <a href="tel:{{ phone.number.as_e164 }}" class="card-link text-decoration-none">{{ phone }}</a>
  </li>
{% endfor %}
