{% load i18n static %}{% static 'img/bootstrap-icons.svg' as icons %}
{% translate "Search" as search_text %}
<form action="." method="get">
  <div class="input-group">
    <input class="form-control"
           type="search"
           name="q"
           id="id_query"
           placeholder="{{ search_text }}"
           aria-label="{{ search_text }}"
           value="{{ q }}"
           hx-get="."
           hx-swap="outerHTML"
           hx-target="#member-list"
           hx-trigger="keyup changed delay:500ms, search"
           hx-indicator="#members-indicator"
    >
    <button type="submit" class="btn btn-success" aria-label="{{ search_text }}">
      <svg class="bi">
        <use href="{{ icons }}#search"></use>
      </svg>
    </button>
  </div>
</form>
