{% extends "base.html" %}

{% load i18n widget_tweaks %}

{% block content %}
  <main class="container">
    <div class="card">
      <div class="card-body">
        {% if validlink %}
          <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
          {% with WIDGET_ERROR_CLASS="is-invalid" %}
            <form method="post" class="needs-validation" novalidate>
              {% include 'partials/forms/non_field_errors.html' %}
              <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
              <div class="col-md-6">
                <label for="{{ form.new_password1.id_for_label }}">{% translate 'New password:' %}</label>
                {% render_field form.new_password1 class="form-control" %}
                {% include 'partials/forms/field_errors.html' with field=form.new_password1 %}
              </div>
              <div class="col-md-6">
                <label for="{{ form.new_password2.id_for_label }}">{% translate 'Confirm password:' %}</label>
                {% render_field form.new_password2 class="form-control" %}
                <i class="bi bi-eye-slash toggle-password-visible"></i>
                {% include 'partials/forms/field_errors.html' with field=form.new_password2 %}
              </div>
              {% csrf_token %}
              <input type="submit" class="btn btn-primary" value="{% translate 'Change my password' %}">
            </form>
          {% endwith %}
        {% else %}
          <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
