{% extends "base.html" %}

{% load i18n static widget_tweaks %}

{% block content %}{% static 'img/bootstrap-icons.svg' as icons %}
  <main class="container">
    <div class="row justify-content-center">
      <div class="card col-lg-6 col-md-8">
        <div class="card-body">
          <h1 class="fs-4">{% translate 'Change my Password' %}</h1>
          {% with WIDGET_ERROR_CLASS="is-invalid" %}
            <form method="post" class="needs-validation" novalidate>
              {% include 'partials/forms/non_field_errors.html' %}
              <div>
                <p class="card-text">
                  {% translate 'Please enter your old password, for security sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
                </p>
                <fieldset class="module aligned wide">
                  {{ form.old_password.label_tag }}
                  <div class="input-group">
                    {% render_field form.old_password class="form-control rounded-end" autocapitalize="off" spellcheck="false" %}
                    <button type="button"
                            class="btn btn-link"
                            data-target="#{{ form.old_password.id_for_label }}"
                            onclick="togglePasswordVisible(this)">
                      <svg class="bi">
                        <use href="{{ icons }}#eye-fill"></use>
                      </svg>
                    </button>
                    {% include 'partials/forms/field_errors.html' with field=form.old_password %}
                  </div>
                  {% if form.new_password1.help_text %}
                    <div class="form-text">{{ form.new_password1.help_text|safe }}</div>
                  {% endif %}
                  {{ form.new_password1.label_tag }}
                  <div class="input-group">
                    {% render_field form.new_password1 class="form-control rounded-end" autocapitalize="off" spellcheck="false" %}
                    <button type="button"
                            class="btn btn-link"
                            data-target="#{{ form.new_password1.id_for_label }}"
                            onclick="togglePasswordVisible(this)">
                      <svg class="bi">
                        <use href="{{ icons }}#eye-fill"></use>
                      </svg>
                    </button>
                    {% include 'partials/forms/field_errors.html' with field=form.new_password1 %}
                  </div>

                  {% if form.new_password2.help_text %}
                    <div class="form-text">{{ form.new_password2.help_text|safe }}</div>
                  {% endif %}
                  {{ form.new_password2.label_tag }}
                  <div class="input-group">
                    {% render_field form.new_password2 class="form-control rounded-end" autocapitalize="off" spellcheck="false" %}
                    <button type="button"
                            class="btn btn-link"
                            data-target="#{{ form.new_password2.id_for_label }}"
                            onclick="togglePasswordVisible(this)">
                      <svg class="bi">
                        <use href="{{ icons }}#eye-fill"></use>
                      </svg>
                    </button>
                    {% include 'partials/forms/field_errors.html' with field=form.new_password2 %}
                  </div>
                </fieldset>
                {% csrf_token %}
                <div class="submit-row text-end mt-3">
                  <button type="submit" class="btn btn-primary">{% translate 'Change my password' %}</button>
                </div>
              </div>
            </form>
          {% endwith %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
