{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ page.title }} | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-5">{{ page.title }}</h1>
    <div class="row g-5">
      {% include 'website/partials/sidebar.html' %}
      <main class="col-lg" data-bs-spy="scroll" data-bs-target="#link-sidebar">
        {% for content in page.visible_content %}
          {% include 'website/partials/content.html' %}
        {% endfor %}
      </main>
    </div>
  </div>
{% endblock content %}
